name: publish

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build-release:
    name: Build sdist and wheel
    runs-on: ubuntu-latest

    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
        # Full clone so that the setuptools-scm version is computed correctly.
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install distribution-building dependencies
        run: python -m pip install build twine --user
      - name: Build sdist and wheel
        run: python -m build
      - name: Check sdist and wheel
        run: python -m twine check --strict dist/*
      - name: Store the distribution packages
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

  upload-release:
    name: Upload sdist and wheel
    needs: build-release
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/rounders
    permissions:
      id-token: write

    steps:
      - name: Download distribution artifacts
        uses: actions/download-artifact@v3
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
